//colors
$main-color: #FFFFFF;
$text-color: #2C4058;
$form-color: #4B5562;
$data-color: #55B7FF;
$nav-text-color: #000000;


//fonts
$font-family-main: 'Montserrat', sans-serif;
$font-family-text: 'Open Sans', sans-serif;
$font-family-nav: 'Source Sans Pro', sans-serif;

//breakpoints

